<html>
    <head>
        <title>Opening page</title>
        <!-- <meta http-equiv="refresh" content="1"> -->
    </head>
    <body>
        <div class="container">
            <h1>Eat in the restaurant</h1>
            <form action ="/InHouse.html" method = "post"> 

                <label for = "Pizza Type"> Select a Pizza</label>
                <select name = "SelectedPizza" id="dropdownmenu" aria-placeholder="Choose a pizza" required>
                    <option value="" disabled selected hidden>Choose a pizza</option>
                    {% for pizza in pizzas %}
                    <option value = "{{ pizza }}">{{ pizza }}</option>
                    {% endfor%}
                </select>
                <br>
                <label for = "Size">Size</label>
                <select name = "PizzaSize" id="dropdownmenu2" aria-placeholder="Choose a size" required>
                    <option value="" disabled selected hidden>Choose a size</option>
                    {% for size in sizes %}
                    <option value = "{{ size }}">{{ size }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for = "Additional Comments">Additional Comments</label>
                <textarea name = "AdditionalComments" id = "comment" rows = "3" cols="20" placeholder="Comments..."></textarea><br>
                <br>
                <label for = "TableNum">Table Number</label>
                <input name = "TableNumber" id = "Number" placeholder="Table Number"  min="10" max="20" required>
                <br>
                {% if error %}
                <div id="messageBox">
                    <p>{{ error }}</p>
                </div>
                {% endif %}

            <!-- <a href="/"><button>Main Page</button></a> -->
            <a href="OrderWaitRoomInHouse.html"><button>Submit</button></a>


        </div>
    </body>
</html>