<html>
    <head>
        <title>LogIn</title>
        <meta http-equiv="refresh" content="1">

    </head>
    <body>
        <h1>{{ ftime }}</h1>
        <h1>LogIn</h1>
        <form action="/LogIn.html" method="post">
            <br>

            {% if error %}
            <div id="messageBox">
                <p>{{ error }}</p>
            </div>
            {% endif %} <br>

            <label>Name:</label><br>
            <input type="text" name="username" required><br>
            
            <label>Password:</label><br>
            <input type="password" name="password" required><br>

        <a href="StaffPage.html"><button>LogIn</button></a>
    </body>
</html>
