<html>
<head>
    <title>Opening page</title>
</head>
<body>
    <div class="container">
        <h1>MENU</h1>

        <!-- <form action="/TakeAway.html" method="post"> -->
            <h2>Pizza Menu:</h2>
            <ul>
                {% for pizza, details in pizza_details.items() %}
                    <li>
                        <h1>***IMAGE***</h1>
                        <!-- <a href = "Margherita.html"><button>{{ pizza }}</button></a> -->
                        <a href="{{ url_for('Margherita', pizza_name=pizza) }}"><button>{{ pizza }}</button></a>
                        <h5>Ingredients: {{ pizza_details[pizza]['Ingredients'] }}</h5>
                        <!-- <ul>
                            {% for size, price in details["Size"].items() %}
                                <li>{{ size }}: {{ price }}</li>
                            {% endfor %}
                        </ul> -->
                    </li>
                {% endfor %}
            </ul>


            <h2>Your Basket:</h2>
            <ul>
                {% for pizza in basket %}
                    <li>{{ pizza['Amount'] }}x {{ pizza['Size'] }} {{ pizza['Pizza'] }} ${{ pizza['Price'] }}</li>
                    {% if 'Comments' in pizza %}
                    <h4>*Comments: {{ pizza['Comments'] }}</h4>
                    {% endif %}
                {% endfor %}
            </ul>

            <h3>Total: ${{ Total }}</h3>

            <a href="AwayVsHouse.html"><button>Finish Order</button></a>


            <!-- <a href="OrderWaitRoom.html"><button>Finish Order</button></a> -->
        <!-- </form> -->
    </div>
</body>
</html>
