<html>
    <head>
        <title>Opening page</title>
        <!-- <meta http-equiv="refresh" content="1"> -->
    </head>
    <body>
        <div class="container">
            <h1>Take Away</h1>
            <!-- <h2>Sensor ID: i527531</h2> -->
            <!-- <table> -->
                <!-- <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Temperature °C</th>
                    <th>Humidity</th>
                    <th>Light</th>
                    <th>Average Temperature</th>

                </tr> -->
                <!-- {% for sam in temperature_data %}
                <tr>
                    <td>{{  sam [0] }}</td>
                    <td>{{  sam [1] }}</td>
                    <td>{{  sam [2] }}</td>
                    <td>{{  sam [3] }}</td>
                    <td>{{  sam [4] }}</td>

                    {% if loop.index == 1 %}
                        <td>{{  average  }}</td>
                    {% endif %}                 
                </tr> -->
                <!-- {% endfor %} -->
            <!-- </table> -->
            <!-- <a href="TakeAway.html"><button>Take Away</button></a>
            <a href="InHouse.html"><button>Eat in the Pizzeria</button></a>
            <a href="Light.html"><button>Light Data</button></a> -->

            <a href="/"><button>Main Page</button></a>

        </div>
    </body>
</html>