<html>
    <head>
        <title>Opening page</title>
    </head>
    <body>
        <div class="container">
            <h1>Take Away</h1>

            <form action ="/TakeAway.html" method = "post"> 

                <label for = "Pizza Type"> Select a Pizza</label>
                <select name = "SelectedPizza" id="dropdownmenu" aria-placeholder="Choose a pizza" required>
                    <option value="" disabled selected hidden>Choose a pizza</option>
                    {% for pizza in pizzas %}
                    <option value = "{{ pizza }}">{{ pizza }}</option>
                    {% endfor%}
                </select>

                <label for = "Size">Size</label>
                <select name = "PizzaSize" id="dropdownmenu2" aria-placeholder="Choose a size" required>
                    <option value="" disabled selected hidden>Choose a size</option>
                    {% for size in sizes %}
                    <option value = "{{ size }}">{{ size }}</option>
                    {% endfor %}
                </select>

                <label for = "Additional Comments">Additional Comments</label>
                <textarea name = "AdditionalComments" id = "comment" rows = "3" cols="20" placeholder="Comments..."></textarea>

                <!-- {% if error %}
                <div id="messageBox">
                    <p>{{ error }}</p>
                </div>
                {% endif %} -->

                <a href="OrderWaitRoom.html"><button>Submit</button></a>
            </form>
        </div>
    </body>
</html>